<div class="page-header">
  <h3>Assignment #<%= @assignment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Chores</dt>
      <dd>
        <% if @assignment.chores.present? %>
          <a href="/chores/<%= @assignment.chores_id %>">
            <%= @assignment.chores.chore_name %>
          </a>
        <% end %>
      </dd>

      <dt>Parents</dt>
      <dd>
        <% if @assignment.parents.present? %>
          <a href="/parents/<%= @assignment.parents_id %>">
            <%= @assignment.parents.parent_name %>
          </a>
        <% end %>
      </dd>

      <dt>Kids</dt>
      <dd>
        <% if @assignment.kids.present? %>
          <a href="/kids/<%= @assignment.kids_id %>">
            <%= @assignment.kids.kid_name %>
          </a>
        <% end %>
      </dd>

      <dt>Due date</dt>
      <dd><%= @assignment.due_date %></dd>

      <dt>Completed</dt>
      <dd><%= @assignment.completed %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/assignments" class="btn btn-primary">
        Back
      </a>
      <a href="/assignments/<%= @assignment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_assignment/<%= @assignment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
