<div class="page-header">
  <h3><%= @chore_category.category_name %></h3>
</div>



    <div class="btn-group btn-group-justified">
      <a href="/chore_categories" class="btn btn-primary">
        Back
      </a>
      <a href="/chore_categories/<%= @chore_category.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_chore_category/<%= @chore_category.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Chore category has many chores -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Chores
      </li>

      <% @chore_category.chores.each do |chore| %>
        <li class="list-group-item">
          <a href="/chores/<%= chore.id %>">
            <%= chore.chore_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/chores/<%= chore.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/chores/<%= chore.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_chore/<%= chore.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_chore" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for chore_name -->
      <div class="form-group">
        <label for="chore_name" class="control-label">
          Chore name
        </label>

        <input type="text" id="chore_name" name="chore_name" placeholder="Chore name" class="form-control" value="">
      </div>

      <!-- Label and input for chore_categories_id -->
      <div class="form-group">
      


        <input type="hidden" id="chore_categories_id" name="chore_categories_id" placeholder="Chore Category name" class="form-control" value="<%= @chore_category.id %>">
      </div>

      <!-- Label and input for chore_value -->
      <div class="form-group">
        <label for="chore_value" class="control-label">
          Chore value
        </label>

        <input type="text" id="chore_value" name="chore_value" placeholder="Chore value" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Chore
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
