<div class="page-header">
  <h3>Chore Category #<%= @chore_category.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Chores</dt>
      <dd><%= @chore_category.chores_id %></dd>

      <dt>Category name</dt>
      <dd><%= @chore_category.category_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/chore_categories" class="btn btn-primary">
        Back
      </a>
      <a href="/chore_categories/<%= @chore_category.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_chore_category/<%= @chore_category.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Chore category has many chores -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Chores
      </li>

      <% @chore_category.chores.each do |chore| %>
        <li class="list-group-item">
          <a href="/chores/<%= chore.id %>">
            <%= chore.chore_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/chores/<%= chore.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/chores/<%= chore.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_chore/<%= chore.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
