<div class="page-header">
  <h3><%= @chore.chore_name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Chore name</dt>
      <dd><%= @chore.chore_name %></dd>

      <dt>Chore category</dt>
      <dd>
        <% if @chore.chore_categories.present? %>
            <%= @chore.chore_categories.category_name %>

        <% end %>
      </dd>

      <dt>Chore value</dt>
      <dd>$<%= @chore.chore_value %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/chores" class="btn btn-primary">
        Back
      </a>
      <a href="/chores/<%= @chore.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_chore/<%= @chore.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Chore has many assignments -->

<div class="row">
  <div class="col-md-12 mb-2">
     <table class="table table-striped table-hover">
      <tr>
      <th>Assignments</th>

      <th>Due Date</th>
      <th>Status</th>
      <th>Action</th>
      </tr>
      
      <% @chore.assignments.each do |assignment| %>
      
        <% if assignment.kids.family_id == current_parent.family_id %>
          <tr>
              <td><a href="/assignments/<%= assignment.id %>">
            
                <%= assignment.kids.kid_name %>
              </a>
              </td>
    
    
              <td><%= assignment.due_date.to_date %></td>
              <td>          
                <% if assignment.completed %>
                  Completed
                <% else %>
                  Not Complete
                <% end %>
              </td>
    
              <td>
    
                <a href="/assignments/<%= assignment.id %>" class="btn btn-primary">Show</a>
               <% if !assignment.completed %>
                <a href="/assignments/<%= assignment.id %>/complete" class="btn btn-success">
                  Complete
                </a>
                <% end %>
              <a href="/assignments/<%= assignment.id %>/edit" class="btn btn-warning">Edit</a>
              <a href="/delete_assignments/<%= assignment.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
              </td>
            </tr>
        <% end %>
      <% end %>
      </table>

  </div>
</div>

      <li class="list-group-item">
        <form action="/create_assignment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for chores_id -->
      <div class="form-group">
        <label for="chores_id" class="control-label">
          Chores
        </label>

        
          <input type="hidden" id="chore_id" name="chores_id" class="form-control" value="<%= @chore.id %>">
      </div>

      <!-- Label and input for parents_id -->
      <div class="form-group">



      <input type="hidden" id="parent_id" name="parents_id" class="form-control" value="<%= current_parent.id %>">
      </div>

      <!-- Label and input for kids_id -->
      <div class="form-group">
        <label for="kids_id" class="control-label">
          Kids
        </label>


        <%= select_tag(:kids_id, options_from_collection_for_select(current_parent.family.kids, :id, :kid_name), :class => "form-control") %>

      </div>

      <!-- Label and input for due_date -->
      <div class="form-group">
        <label for="due_date" class="control-label">
          Due date
        </label>

        <input type="text" id="due_date" name="due_date" placeholder="Due date" class="form-control" value="">
      </div>



      <button class="btn btn-block btn-success">
        Create Assignment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
